#virtual env
follow_env/

# IDE specific folder
.idea/

#Byte-compiled / Optimized / DLL files
*.py[cod]

#SQLite DB
db.sqlite3

#static files folder
static_cdn

#media files (uploaded by user)
media_cdn

#superuser credentials
superuser
