<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome
        {% if request.user.is_authenticated %}
            {{ request.user.username }}
        {% endif %}!
    </h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'social:sign_out' %}">Sign Out</a><br />
        <a href="{% url 'social:view_posts' %}">View Activity</a>
    {% else %}
        <a href="{% url 'social:sign_up' %}">Register!</a><br/>
        Already a user, <a href="{% url 'social:sign_in' %}">Sign in</a>
    {% endif %}
</body>
</html>